@import url("./css/color.css");

body {
    font-family: Roboto, sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
    font-size: 1.3rem;
}

.nav-header {
    background-color: var(--primary);
    color: var(--font-primary);
    align-self: stretch;
    padding: 0 5rem;
}
a {
    color: var(--font-primary);
}

.menu-list-items:hover {
    background-color: transparent;
}

.menu-list-items:hover a i {
    color: var(--accent-color);
}

.brand-name {
    font-weight: 700;
    font-size: 1.2rem;
    padding: 1rem 0;
}

.cover-img {
    width: 30vw;
    justify-self: flex-end;
}

h1 {
    width: 50vw;
    font-weight: bolder;
    font-size: 2.3rem;
    text-align: center;
    line-height: 1.2em;
    color: #19180a;
}

.btn {
    background-color: var(--secondary);
    border-radius: 0;
    padding: 0.8rem 3rem;
    font-size: 1rem;
    font-weight: bold;
}

body span {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.categories {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    margin: 1rem;
    justify-content: center;
}

.categories .btn {
    background-color: var(--secondary);
}

.categories .btn-grp {
    display: flex;
    flex-direction: column;
}

.btn-grp {
    width: 12rem;
    height: 15rem;
    cursor: pointer;
}

.btn-grp img:nth-child(n):hover {
    width: 55%;
    transition: all 0.1s ease-in-out;
}

.btn-grp img {
    width: 60%;
}

.btn-grp a {
    color: var(--font-secondary);
    font-weight: bold;
    text-decoration: none;
}

img[src = "./images/cropped-rhino.png"]{
    width: 100%;
}

.btn-grp img[src = "./images/cropped-rhino.png"]:hover {
    width: 95%;
}

.categ-head {
    width: 100%;
    margin: 1rem 0 1rem;
}

@media only screen and (max-width: 800px) {
    .nav-header {
        padding: 0 2rem;
    }
    h1, .cover-img { 
        width: 80vw;
    }
    .cover-img {
        margin-top: 5rem;
    }
}
@media only screen and (max-width: 460px) {
    .material-icons, .material-icons-outlined {
        font-size: 1.4rem;
    }
    .menu-list-items {
        padding: 0.5rem;
    }

    .categ-head {
        margin: 0;
    }
    .categories {
        margin: 0;
    }
    .btn-grp {
        width: 40vw;
    }
}