@import url("../../css/color.css");

body {
    font-family: Roboto, sans-serif;
}

.nav-header {
    background-color: var(--primary);
    color: var(--font-primary);
    align-self: stretch;
    padding: 0 5rem;
}

a {
    color: var(--font-primary);
    text-decoration: none;
}

.menu-list-items:hover {
    background-color: transparent;
}

.menu-list-items:hover a i {
    color: var(--accent-color);
}

.brand-name {
    font-weight: 700;
    font-size: 1.2rem;
    padding: 1rem 0;
}

.container {
    display: grid;
    grid-template-columns: 5rem repeat(6, 1fr) 5rem;
    grid-template-areas: 
    ". head head head head head head ."
    ". item item item item item item ."
    ;
    padding-bottom: 2rem;
}

.wishlist-items {
    grid-area: item;
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
}


.badge-h img{
    width: 100%;
}

.card .btn {
    background: var(--accent-color);
}
.card .btn:nth-of-type(2) {
    background: var(--secondary);
}
.prod-details .btn{
    width: auto;
    padding: 0.5rem;
    text-align: center;
}

.head-title {
    grid-area: head;
    padding: 1rem;
}

@media only screen and (max-width: 1160px) {
    .container {
        grid-template-columns: 7vw repeat(6, 1fr) 7vw;
    }
    .wishlist-items {
        justify-content: center;
    }
}

@media only screen and (max-width: 800px) {
    .nav-header {
        padding: 0 2rem;
    }
}
@media only screen and (max-width: 460px) {
    .material-icons, .material-icons-outlined {
        font-size: 1.4rem;
    }
    .menu-list-items {
        padding: 0.5rem;
    }
}