@import url("../../css/color.css");

.nav-header {
    background-color: var(--primary);
    color: var(--font-primary);
    align-self: stretch;
    padding: 0 5rem;
}

a {
    color: var(--font-primary);
    text-decoration: none;
}

.menu-list-items:hover {
    background-color: transparent;
}

.menu-list-items:hover a i {
    color: var(--accent-color);
}

.brand-name {
    font-weight: 700;
    font-size: 1.2rem;
    padding: 1rem 0;
}

.container {
    display: grid;
    grid-template-columns: auto 50vw auto ;
    justify-content: center;
    width: 100vw;
    height: 80vh;
}

.btn {
    background: var(--secondary);
    padding: 1rem;
    font-size: 1.2rem;
}

.form-grp {
    justify-content: center;
    width: 100%;
    grid-column: 2 / 3;
}
label[for = "forgot-password"] {
    align-self: flex-end;
}

label[for="forgot-password"] a{
    color: var(--primary);
}

.btn:last-child {
    background: var(--accent-color);
    text-align: center;
}


@media only screen and (max-width: 800px) {
    .nav-header {
        padding: 0 2rem;
    }
    .container {
        grid-template-columns: auto 80vw auto ;
    }
}
@media only screen and (max-width: 460px) {
    .material-icons, .material-icons-outlined {
        font-size: 1.4rem;
    }
    .menu-list-items {
        padding: 0.5rem;
    }
}