@import url("../../css/color.css");

body {
    font-family: Roboto, sans-serif;
}
.nav-header {
    background-color: var(--primary);
    color: var(--font-primary);
    align-self: stretch;
    padding: 0 5rem;
}

a {
    color: var(--font-primary);
    text-decoration: none;
}

.menu-list-items:hover {
    background-color: transparent;
}

.menu-list-items:hover a i {
    color: var(--accent-color);
}

.brand-name {
    font-weight: 700;
    font-size: 1.2rem;
    padding: 1rem 0;
}

.container {
    display: grid;
    grid-template-columns: 5rem repeat(6, 1fr) 5rem;
    grid-template-areas: 
    ". head head head head head head ."
    ". item item item item cart cart ."
    ;
}

.cart-items, .cart-payment {
    grid-area: item;
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
}
.cart-payment {
    grid-area: cart;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.badge-h img{
    width: 100%;
}

.card .btn {
    background: var(--accent-color);
}
.card .btn:nth-of-type(2) {
    background: var(--secondary);
}

.product-count .btn.inc, .product-count .btn.dec {
    border-radius: 50%;
    height: 1.5rem;
    width: 1.5rem;
    padding: 0;
    background: var(--secondary);
    margin: 0.2rem;
}

.inc + input {
    width: 2rem;
    text-align: center;
}

.prod-details .btn{
    width: auto;
    padding: 0.5rem;
    text-align: center;
}
.product-count {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-payment .card {
    width: 100%;
}

.cart-payment .card .prod-details > .total-amt {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

p.prod-head {
    color: green;
}

.cart-head {
    grid-area: head;
    margin: 3rem 0;
}


@media only screen and (max-width: 1160px) {
    .container {
        grid-template-columns: 7vw repeat(6, 1fr) 7vw;
        grid-template-areas: 
        ". head head head head head head ."
        ". item item item item item item."
        ". cart cart cart cart cart cart."
        ;
        padding: 1rem 0;
        gap: 1rem;
    }

    .cart-payment {
        gap: 1rem;
        bottom: 0;
        width: 100%;
        margin: 2rem 0;
    }
    .cart-payment h1 {
        display: none;
    }
    .cart-items {
        justify-content: center;
    }
    .cart-head {
        margin: 0;
    }
}

@media only screen and (max-width: 800px) {
    .nav-header {
        padding: 0 2rem;
    }
}
@media only screen and (max-width: 460px) {
    .material-icons, .material-icons-outlined {
        font-size: 1.4rem;
    }
    .menu-list-items {
        padding: 0.5rem;
    }
}